img{
    width: 100%;
    height: auto;
    border-radius: 6px 6px 0 0;
}

.wrapperCard {
  display: flex;
  flex-wrap: wrap;
}
.card {
    max-width: 23%;
    flex-basis: 100%;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
    margin: 15px 0.5rem 15px 0.5rem;
    border-radius: 6px;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);
  }

  .container {
    padding: 2px 16px;
  }
